<section class="listing-new">
  <h1>List Your Space</h1>
  <h3>Airfnf lets you meet new people by sharing your space and your food!</h3>

  <form class="listing-new-form">
    <ul>
      <h3>Room Type</h3>
        <label for="entire">Entire home/apt</label>
        <input type="radio" name="listing[room_type]" value="Entire home/apt"
          id="entire">

        <label for="private">Private room</label>
        <input type="radio" name="listing[room_type]" value="Private room"
          id="private">

        <label for="shared">Shared room</label>
        <input type="radio" name="listing[room_type]" value="Shared room"
          id="shared">
    </ul>
    <ul>
      <h3>Accommodates</h3>
        <select class="accommodates" name="listing[accommodates]">
          <% for(var i = 1; i <= 16; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
    </ul>
    <ul>
      <h3>Address</h3>
        <input type="text" name="listing[address]" value="" id="address">
    </ul>
    <ul>
      <h3>Price $</h3>
        <input type="text" name="listing[price]" value="" id="price">
    </ul>
    <ul>
      <h3>Description</h3>
        <textarea name="listing[description]" value=""></textarea>
    </ul>
    <ul>
      <label for="pic">Picture</label>
        <input type="file" name="listing[pic]" id="pic">
        <img src="" id="preview-pic" width="50">
    </ul>
    <button class="fill auto-fill">Auto Fill</button>
    <button>Submit</button>
  </form>
</section>
