<div class="search-page-container">
  <section class="sidebar">
    <h2>Search results for "<%= location %>"</h2>
    <section class="filters"></section>
    <ul class="listings"></ul>
  </section>
  <div class="map"></div>
</div>
