<div class="search-page-container">
  <section class="sidebar">
    <h2>Search results for "<%= location %>"</h2>
    <section class="filters"></section>
    <div class="search-listings-container">
      <ul class="listings group"></ul>
    </div>
  </section>
  <div class="map"></div>
</div>
