<a class="logo" href="#">Airfnf</a>
<ul class="group">
  <% if (Airfnf.currentUser.isSignedIn()) { %>
    <a href="#/users/<%= Airfnf.currentUser.id %>">Signed in as: <%= Airfnf.currentUser.escape("username") %></a>
    <a href="#" id="sign-out-link">Sign Out</a>
  <% } else { %>
    <a href="#" id="sign-up-link">Sign Up</a>
    <a href="#" id="sign-in-link">Sign In</a>
  <% } %>
  <a class="create-listing" href="#/listings/new">List Your Space</a>
</ul>
