<li>
  <h3>Accommodates</h3>
  <select class="accommodates" name="accommodates">
    <% for(var i = 1; i <= 16; i++) { %>
      <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
</li>
<li>
  <h3>Room Type</h3>
    <input type="checkbox" name="room_type" value="Entire home/apt">Entire place
    <input type="checkbox" name="room_type" value="Private room">Private room
    <input type="checkbox" name="room_type" value="Shared room">Shared room
</li>
<li>
  <p>
    <label for="amount">Price range: </label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  <div class="price-slider"></div>
  <script>
    $(function() {
      $( ".price-slider" ).slider({ range: true, min: 10, max: 1000,
        values: [ 10, 1000 ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
      });
      $( "#amount" ).val( "$" + $( ".price-slider" ).slider( "values", 0 ) +
        " - $" + $( ".price-slider" ).slider( "values", 1 ) );
    });
  </script>
</li>
