<header id="header" class="header group"></header>
<main id="main" class="main"></main>
<footer class="modal">
  <section class="modal-screen"></section>
  <section class="modal-form">
    <button class="modal-close">&times;</button>
  </section>
</footer>

<script>
  $(document).ready(function () {
    <%= current_user_id = current_user.id if current_user %>
    Airfnf.initialize(<%= current_user_id %>);
  });
</script>
