<header id="header" class="header group"></header>
<main id="main" class="main"></main>

<script>
  $(document).ready(function () {
    <%= current_user_id = current_user.id if current_user %>
    Airfnf.initialize(<%= current_user_id %>);
  });
</script>
