<header id="header" class="header group"></header>
<main id="main" class="main"></main>

<script>
  $(Airfnf.initialize.bind(Airfnf));
</script>

<script type="text/template" id="logo">
  <img src="<%= asset_path("airfnf-logo.png") %>"/>
</script>
