<h2>Sign Up</h2>

<form>
  <label for="username">Username</label>
    <input type="text" name="user[username]" id="username">
  <label for="email">Email</label>
    <input type="text" name="user[email]" id="email">
  <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">
  <label for="avatar">Avatar</label>
    <input type="file" name="user[avatar]" id="avatar">
    <img src="" id="preview-avatar" width="50">
  <button>Sign Up</button>
</form>
