<h1>Hey, I'm <%= user.escape("username") %>!</h1>
<img src="<%= user.get("avatar_url") %>" width="100">

<h2>Listings</h2>
<ul class="listings"></ul>

<h2>Your Requests</h2>
<ul class="requests"></ul>
