<div class="user-info group">
  <section class="avatar-container group">
    <div class="avatar"><img src="<%= user.get("avatar_url") %>" width="100"></div>
  </section>
  <section class="user-description">
    <div class="user-text">
      <h1>Hey, I'm <%= user.escape("username") %>!</h1>
      <p>I love traveling as well as hosting people in my home!</p>
    </div>
  </section>
</div>

<div class="listings-and-requests group">
  <% if (Airfnf.currentUser.id === user.id) { %>
    <section class="listings-container">
  <% } %>
      <h2><%= Airfnf.currentUser.id === user.id ? "Your Listings": "Listings"%></h2>
      <% if (listings.length === 0) { %>
        You don't have any listings
      <% } %>
      <ul class="listings"></ul>
  <% if (Airfnf.currentUser.id === user.id) { %>
    </section>
  <% } %>
  <% if (Airfnf.currentUser.id === user.id) { %>
    <section class="requests-container">
      <h2>Requests</h2>
      <% if (requests.length === 0) { %>
        You haven't requested to book any listings
      <% } %>
      <ul class="requests"></ul>
    </section>
  <% } %>
</div>
