<h1>Request to Book</h1>

<form class="request-new-form">
  <h3>Start Date</h3>
  <input type="date" name="request[start_date]">

  <h3>End Date</h3>
  <input type="date" name="request[end_date]">
  <button class="book">Request</button>
  <button class="hide">Nevermind</button>
</form>
