/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, nav, section, article, ul, li, button,
main, img, h1, h2, h3, p, strong, a, div, span {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  background: #33CCFF;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

button {
  padding: 2px;
  margin: 2px;
  font-size: 14px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
}

// header

.header .logo {
  display: block;
  // #px from inspecting height of .create-listing
  padding-top: 38px;
  height: 0;
  overflow: hidden;
  background: image-url("airfnf-logo.png");
  background-size: 100px;

  width: 100px;
  float: left;
}

.header {
  padding: 20px 20px;
}

.header a {
  color: #fff;

}

.header ul {
  float: right;
}

.header ul > a {
  float: left;
  margin: 10px 10px;
}

.header .create-listing {
  display: block;
  background: #0E948B;
  padding: 10px 20px;
  margin: 0 0 0 10px;
}

.header .create-listing:hover {
  background: #12C2B7;
}

// main content

.main {
  margin: 50px auto;
  text-align: center;
}

.listing-new {

}

.listing-new > h1 {
  margin: 20px;
  color: #fff;
}

.listing-new > h3 {
  margin: 20px;
}

.listing-new-form {
  border-top: 1px solid #000;
  margin: 40px;
}

.listing-new-form > ul {
  display: block;
  margin: 40px;
}

// search

.search-page-container {
  // background: black;
  // display: block;
}

// search sidebar

.sidebar {
  float: left;
  width: 800px;
}

// slider

p > .amount {
  border: 0;
  color: #ff8400;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
}

.price-slider {
  margin: auto auto;
  height: 4px;
  width: 500px;
}

.price-slider .ui-slider-range {
  background: #ff0055;
}

.price-slider .ui-slider-handle {
  border-radius: 50%;
  top: -9px;
}

// search map

.map-canvas {
  display: block;
  float: left;
  width: 200px;
  height: 800px;
}
