/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, nav, section, article, ul, li,
h1, h2, h3, p, strong, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  background: #33CCFF;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

// header

.header {
  //border: 1px solid black;
}

.header nav {
  top: 20px;
  left: 20px;
}

.header a {
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin: 10px 20px;
}

.header .logo {
  display: block;
  float: left;
}

.header ul {
  float: right;
}

.header ul > a {
  float: left;
}

.header .create-listing {
  display: block;
  background: #0E948B;
}

.header .create-listing:hover {
  background: #12C2B7;
}

// main content

.main {
}

.main > div {
  margin: 50px auto;
}

.listing-new {
  text-align: center;
}

.listing-new > h1 {
  margin: 20px;
  color: #fff;
}

.listing-new > h3 {
  margin: 20px;
}

.listing-new-form {
  border-top: 1px solid #000;
  margin: 40px;
}

.listing-new-form > ul {
  display: block;
  margin: 40px;
}
