/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, nav, section, article, ul, li, button, fieldset,
main, img, h1, h2, h3, p, strong, a, div, span, footer {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #33CCFF;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

img[src=""] {
  display: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 2px;
  margin: 2px;
  font-size: 14px;
  border: 1px solid #ccc;
  background: #ED2737;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ED5562;
}

button:disabled {
  opacity: 0.5;
}

.auto-fill {
  padding: 5px;
  font-size: 16px;
  margin-top: 15px;
}

.avatar {
  margin: 0 auto;
  width: 150px;
}

// header

.header .logo {
  display: block;
  // #px from inspecting height of .create-listing
  padding-top: 38px;
  height: 0;
  overflow: hidden;
  background: image-url("airfnf-logo.png");
  background-size: 100px;

  width: 100px;
  float: left;
}

.header {
  padding: 20px 20px;
}

.header a {
  color: #fff;
}

.header ul {
  float: right;
}

.header ul > a {
  float: left;
  margin: 10px 10px;
}

.header .create-listing {
  display: block;
  background: #0E948B;
  padding: 10px 20px;
  margin: 0 0 0 10px;
}

.header .create-listing:hover {
  background: #12C2B7;
}

// listings

.listing-new {

}

.listing-new > h1 {
  margin: 20px;
  color: #fff;
}

.listing-new > h3 {
  margin: 20px;
}

.listing-new-form {
  border-top: 1px solid #000;
  margin: 40px;
}

.listing-new-form > ul {
  display: block;
  margin: 40px;
}

.listing-new-form button {
  padding: 5px;
  font-size: 16px;
  margin-top: 15px;
}

.listing-new-form .fill {
  background: #00761D;
}

.listing-new-form .fill:hover {
  background: #1DB543;
}

// main content

.main {
  text-align: center;
}

// home

.home {

}

.home h1 {
  color: #fff;
  font-size: 60px;
  margin: 100px auto 5px auto;
}

.home h3 {
  color: #fff;
  font-size: 24px;
  margin: 0 auto 100px auto;
}

.home .search-container {
  padding-top: 100px;
  position: relative;
  width: 420px;
  margin: 0 auto;
}

.home input {
  float: left;
  padding: 7px;
  font-size: 16px;
  width: 300px;
}

.home button {
  float: left;
  margin: 0;
  padding: 10px 0;
  background: #ED2737;
  color: #fff;
  width: 100px;
  border-radius: 0;
  border: 0;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: image-url("venice.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}

// search

.search-page-container {
  // map and sidebar are absolute, need to float for properties to show
  //padding: 10px;
}

// search map

.map {
  height: 100%;
  right: 0;
  //padding-right: 10px;
  position: absolute;
  width: 40%;
}

#map-canvas {
  display: block;
}

// search sidebar

.sidebar {
  border-right: thin solid black;
  height: 100%;
  position: absolute;
  left: 0;
  width: 60%;
}

// slider

p > .amount {
  border: 0;
  color: #ff8400;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
}

.price-slider {
  margin: auto auto;
  height: 4px;
  width: 500px;
}

.price-slider .ui-slider-range {
  background: #ff0055;
}

.price-slider .ui-slider-handle {
  border-radius: 50%;
  top: -9px;
}

// modal

.modal {
  display: none;
}

.modal.is-open {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  width: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-form label {
  display: block;
  padding: 10px;
}

.modal-form input {
  display: block;
  width: 100%;
}

.modal-form .guest-sign-in {

}

.modal-form .button-container {
  padding-top: 10px;
}

.modal-form button {

}

.modal-form a {
  color: #ED2737;
}
