.listing {
  padding: 5px;
}

.listing-new {

}

.listing-new > h1 {
  margin: 20px;
  color: #fff;
}

.listing-new > h3 {
  margin: 20px;
}

.listing-new-form {
  border-top: 1px solid #000;
  margin: 40px;
}

.listing-new-form > ul {
  display: block;
  margin: 40px;
}

.listing-new-form button {
  padding: 5px;
  font-size: 16px;
  margin-top: 15px;
}

.listing-new-form .fill {
  background: #00761D;
}

.listing-new-form .fill:hover {
  background: #1DB543;
}
