.listing {
  padding: 5px;
}

.pic {
  min-width: 600px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.listing-item {
  width: 400px;
}

.listing-item .item {

}

.listing-item > ul {

}

.item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.listing-new {

}

.listing-new .form-description {
  padding: 50px 0;
  color: #fff;
}

.listing-new .form-description h1 {
  padding-bottom: 20px;
}

.listing-new .form-description h3 {
  font-size: 18px;
  color: #000;
}

.listing-new .form-container {

}

.listing-new-form {
  border-top: 1px solid #000;
  width: 484px;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
}

.listing-new-form input {
  font-size: 16px;
}

.listing-new-form textarea {
  font-size: 14px;
}

.listing-new-form h3 {
  font-size: 18px;
}

.listing-new-form > ul {
  display: block;
  margin-bottom: 15px;
}

.listing-new-form .radio-list {
  border: 1px solid #000;
}

.listing-new-form > ul > li {
  float: left;
  position: relative;
  width: 160px;
  border-right: 1px solid #000;
}

.listing-new-form > ul > li:last-child {
  border-right: none;
}

.listing-new-form li > label {
  padding: 20px;
  display: block;
  background: #fff;
  text-align: center;
  cursor: pointer;
}

.listing-new-form input[type="radio"] {
  position: absolute;
  top: 0;
  opacity: 0;
}

.listing-new-form input[type="radio"]:checked + label {
  background: #ccc;
}

.listing-new-form button {
  padding: 5px;
  font-size: 16px;
  margin-top: 15px;
  width: 100px;
  text-align: center;
}

.listing-new-form .fill {
  // make it look like a button
  // it's not a button to avoid conflict w 'submit form' event
  background: #00761D;
  width: 100px;
  display: block;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.listing-new-form .fill:hover {
  text-decoration: none;
  background: #1DB543;
}
