.modal {
  display: none;
}

.modal.is-open {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  width: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-form label {
  display: block;
  padding: 10px;
}

.modal-form input {
  display: block;
  width: 100%;
}

.modal-form .guest-sign-in {
  // make it look like a button
  // it's not a button to avoid conflict w 'submit form' event
  display: block;
  padding: 5px;
  font-size: 16px;
  margin: 2px;
  margin-top: 15px;
  border: 1px solid #ccc;
  background: #ED2737;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-form .guest-sign-in:hover {
  text-decoration: none;
}

.modal-form .button-container {
  padding-top: 10px;
}

.modal-form button {

}

.modal-form a {
  color: #ED2737;
}
