.user-info {
  background: #eee;
  padding: 40px;
}

.avatar-container {
  width: 25%;
  // matches width of avatar
  min-width: 200px;
  float: left;
}

.avatar {
  float: right;
  width: 200px;
}

.user-description {
  float: left;
  width: 75%;
  text-align: left;
}

.user-text {
  padding-left: 40px;
}

.user-text > h1 {
  padding-bottom: 20px;
}

.user-text > p {
  width: 600px;
}

.listings-and-requests {
  width: 70%;
  padding: 50px;
  margin: 0 auto;
}

.listings-container {
  float: left;
  width: 50%;
}

.listings-container .listings {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  padding-right: 20%;
}

.requests-container {
  float: right;
  width: 50%;
}

.requests-container .requests {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  padding-right: 20%;
}
