.search-page-container {
  // map and sidebar are absolute, need to float for properties to show
  //padding: 10px;
}

// search map

.map {
  height: 100%;
  right: 0;
  //padding-right: 10px;
  position: absolute;
  width: 40%;
}

#map-canvas {
  display: block;
}

// search sidebar

.sidebar {
  border-right: thin solid black;
  height: 100%;
  position: absolute;
  left: 0;
  width: 60%;
  overflow: scroll;
  // background: #fff;
}

.search-listings-container {
  padding: 30px 20px;
  overflow-x: hidden;
}

.search-listings-container .listings {
  margin-left: -12.5px;
  margin-right: -12.5px;
  // -moz-column-count: 1;
  // -webkit-column-count: 1;
}
//
// .search-listings-container .listings > li {
//   column-break-before: always;
// }


.search-listings-container .listings > .listing-item {
  float: left;
  width: 50%;
  padding-left: 12.5px;
  padding-right: 12.5px;
  min-height: 1px;
  margin-bottom: 12.5px;
  box-sizing: border-box;
}

.search-listings-container .listings ul {
  position: relative;
}

// FIX - does not resize

.search-listings-container .item > img{
  height: 325px;
}

.search-listings-container .listings .price {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 80px;
  text-align: center;
  padding: 7px 10px;
  font-size: 24px;
  background: #ED2737;
  color: #fff;
}

.search-listings-container .listings .price::after {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  content: "$"
}

.listings > p {
  display: block;
  padding: 100px;
  font-size: 30px;
}

// slider

p > .amount {
  border: 0;
  color: #ff8400;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
}

.price-slider {
  margin: auto auto;
  height: 4px;
  width: 500px;
}

.price-slider .ui-slider-range {
  background: #ff0055;
}

.price-slider .ui-slider-handle {
  border-radius: 50%;
  top: -9px;
}
