<section class="modal-screen modal-close"></section>
<section class="modal-form">
  <h2>Sign In</h2>

  <form>
    <label for="email">Email</label>
      <input type="text" name="user[email]" id="email">
    <label for="password">Password</label>
      <input type="password" name="user[password]" id="password">
    <a class="guest-sign-in auto-fill">Fill In As Guest</a>
    <fieldset class="button-container">
      <button id="sign-in">Sign In</button> or <a href="#" id="sign-up-link">Sign Up</a>
    </fieldset>
  </form>
</section>
