<section class="background"></section>
<section class="home">
  <h1>WELCOME HOME</h1>
  <h3>Search listings by city</h3>
  <fieldset class="search-container">
    <input type="text" name="search" id="search">
    <button class="search">Search</button>
  </fieldset>
</section>
